@use "../../styles/abstracts" as *;

.watermarkContainer {
    display: flex;
    @include container;

    &.right {
        justify-content: right;
    }
    &.left {
        justify-content: left;
    }
    &.center {
        justify-content: center;
    }
}

.watermark {
    font-weight: $font-extrabold;
    color: darken($azure, 2);
    pointer-events: none;

    &.lg {
        @include heading-9xl;
    }
    &.md {
        @include heading-6xl;
    }
    &.sm {
        @include heading-4xl;
    }
}
