@use '../../styles/abstracts/index' as *;

.circleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  @include container;
}

.circle {
  width: Min(30vw, 10em);
  padding: Min(30vw, 10em);
  border: 1px solid white;
  border-radius: 100%;
  opacity: 50%;
  background-color: $azure;
}