@use "../../styles/abstracts/index" as *;

.circleContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.circle {
  width: Min(10vw, 7em);
  padding: Min(10vw, 7em);
  border-radius: 100%;
  border: 0.2rem solid $raisin;
  border-bottom: 0.4rem solid $raisin;
  @include shadow-bottom-right-sm;
}
