@use "../../styles/abstracts/index" as *;

.container {
  position: relative;
  display: flex;
  justify-content: right;
  @include container;
}

.whiteKey,
.blackKey,
.shadowKey {
  position: absolute;
}

.shadowKey {
  z-index: -2;
  top: 0;
  right: 0.75rem;
  padding: 10em clamp(1.25rem, 3vw, 3rem);
  border-radius: 0.5rem;
  border: 0.25rem solid $raisin;
  @include glass;
  @include shadow-bottom-right-sm;
}

.whiteKey {
  z-index: -1;
  top: -1rem;
  right: 1rem;
  padding: 10em clamp(1.25rem, 3vw, 3rem);
  border-radius: 0.5rem;
  border: 0.25rem solid $raisin;
  background-color: white;
  @include shadow-bottom-right-sm;
}

.blackKey {
  z-index: 0;
  top: -1.25rem;
  right: 2.5rem;
  padding: 5em clamp(1rem, 2vw, 2rem);
  border-radius: 0.5rem;
  border: 0.25rem solid $raisin;
  background-color: black;
  @include shadow-bottom-right-sm;
}
