@use '../../styles/abstracts' as *;

.heroContainer {
  display: grid;
  place-items: center;
  padding: 0 0.5em;
  @include container;
}

.hero {
  display: grid;
  place-items: center;

  & h1 {
    position: relative;
    @include heading-2xl;
    font-family: $heading-font;
    letter-spacing: 0.15rem;
    color: white;
    .name {
      font-weight: $font-medium;
      font-style: italic;
    }
    .keyword {
      font-weight: $font-semibold;
    }
  }
}

.glass {
  position: absolute;
  width: Max(50%, 60vw);
  max-width: $screen-md;
  padding: 10em;
  border-radius: 1rem;
  @include glass;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

@include sm {
  .hero {
    padding: 0 2em;
    h1 {
      @include heading-3xl;
    }
  }
}

@include md {
  .hero {
    padding: 0 2em;
    h1 {
      @include heading-4xl;
    }
  }
}

@include lg {
  .hero {
    padding: 0 2em;
    h1 {
      @include heading-5xl;
    }
  }
}



