// Grow-skew
// Large screen
@keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

@-khtml-keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

@-moz-keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

@-ms-keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

@-o-keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

@-webkit-keyframes grow-skew-lg {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg) translateY(19.5%);
  }
}

// Small screen
@keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

@-khtml-keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

@-moz-keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

@-ms-keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

@-o-keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

@-webkit-keyframes grow-skew-sm {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewY(4deg);
  }
}

// Fade-in
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-khtml-keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}