@use "../../styles/abstracts" as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
  @include md {
    flex-direction: row;
  }
  gap: 0.25rem;
  justify-content: space-between;
  @include container;
}
