@use "/src/styles/abstracts/index" as *;

.heroBackground {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    170deg,
    rgba(255, 194, 60, 1) 39%,
    rgba(250, 47, 181, 1) 93%
  );
}

.container {
  position: relative;
  @include container;
}
