@use "/src/styles/abstracts/index" as *;

.heroBackground {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  // background-color: $azure;
}

.container {
  position: relative;
  width: 100%;
  height: 95dvh;
  transform: translateY(3dvh);
  border-radius: 1rem;
  border: 0.25rem solid black;
  border-bottom: 0.5rem solid black;
  background-color: #ffffe0;
  @include container;
}
