@use "../../styles/abstracts/index" as *;

.container {
    position: relative;
}

.square {
    position: absolute;
    left: Min(20vw, 60px);
    top: 70dvh;
    width: Min(5vw, 2em);
    padding: Min(5vw, 2em);
    border-radius: 0.5rem;
    border: 0.2rem solid $raisin;
    @include shadow-bottom-right-sm;
}
